{% extends 'App1/base.html' %}

{% block content %}
<title>Contacto Hotel Duerme Bien</title>
<style>
    .container {
        text-align: center; /* Centra el texto */
        margin-top: 100px; /* Espacio desde la parte superior de la página */
    }

    .contact-info {
        font-size: 20px; /* Tamaño de la fuente */
        margin-bottom: 10px; /* Espacio entre los elementos */
    }

    .contact-item {
        margin: 5px 0; /* Espacio vertical entre cada ítem */
    }
</style>
</head>
<body>
<div class="container">
    <div class="contact-info">
        <h1>Contacto</h1>
        <h2>Oficinas de Arica</h2>
        <div class="contact-item">Administrador: King Atler</div>
        <div class="contact-item">Teléfono: +56 9 97853211</div>
        <div class="contact-item">Email: hotelduermebien@gmail.com</div>
        <div class="contact-item">Dirección: Cerro Chuño #6090</div>
    </div>
</div>

{% endblock %}